body {
    font-family: 'Montserrat', sans-serif;
       color:white;
}

a:link {
    color:white;
  }
  
  a:visited {
    color: white;
  }
  
  a:hover {
    color: lightgray;
  }

  a:active {
    color:lightgray;
  }

  #img1 {
      margin-right: 5px;
  }

  .button1 {

outline: none;
text-align: center;
letter-spacing: 2px;
background-image: linear-gradient( #ceac46 20%, #e6d28b 100%);
line-height: 14px;
font-weight: 500;
text-transform: uppercase;
font-size: 15px;
padding: 12px 25px;
  }
  .store {
    background-image: url(assets/paper.png);   
    text-align: center;
    background-repeat: no-repeat;
    margin-left: 15px;
    color: black;
    background-size: 99%;
    margin-top: -20px;
    padding: 15px;
  }

  .images {
    display: block;
    border: 2px solid #dab867;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 45%;


  }

   table.table2 th, table.table2 td {
    text-align: center;
    padding: 10px;
    font-family: arial;
    font-size: 15px;
    color: black !important ;
    border: 1px black solid;
    border-collapse: collapse;
}